.carousel-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* Sesuaikan dengan tinggi gambar */
    background-color: #fff; /* Warna latar belakang abu */
  }